:root {
  --paleBackground: #ffffff;
  --white: #f8f8f8;
  --whiteButton: #eaeaea;
  --grey: #7e7e82;
  --black: #1b1c21;
  --superLightTurquoise: #d9fff5;
  --lightTurquoise: #b8ffec;
  --turquoise: #41f6d7;
}
@font-face {
  font-family: "TT Lakes";
  src: url("./fonts/TTLakes-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "TT Lakes";
  src: url("./fonts/TTLakes-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "TT Lakes";
  src: url("./fonts/TTLakes-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "TT Lakes";
  src: url("./fonts/TTLakes-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  min-width: 320px;
  background: var(--white);
  min-height: 100vh;
  font-family: "TT Lakes";
  color: var(--black);
}
.mobile-menu {
  width: 320px;
  height: 1024px;
  padding: 0 24px;
  position: absolute;
  left: 0;
  display: flex;
  flex-direction: column;
  box-shadow: 16px 0px 52px 0px #0e185033;
  background: var(--paleBackground);
  gap: 28px;
  
}
.header {
  height: 88px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background: var(--paleBackground);
  justify-content: space-between;
}
.header__conteiner {
  width: 156px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.button {
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 20px;
  background-size: cover;
  cursor: pointer;
}
.button__close {
  background-image: url("./blocks/button/close.svg");
}
.button__search {
  background-image: url("./blocks/button/search.svg");
}
.button__call {
  background-image: url("./blocks/button/call.svg");
}
.button__chat {
  background-image: url("./blocks/button/chat.svg");
}
.button__profile {
  background-image: url("./blocks/button/profile.svg");
}

.header__logo {
  width: 96px;
  height: 50px;
  background-size: cover;
  background-image: url("./blocks/header/logo/logo.svg");
}
.main {
  height: 660px;
}
.main__navigation {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-evenly;
  gap: 24px;
}
.navigation__title {
  height: 32px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border: none;
  background: var(--paleBackground);
  cursor: pointer;
}
.navigation__title-active {
  height: 32px;
  position: relative;
  left: -4px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border: none;
  background: var(--paleBackground);
  color: var(--grey) !important;
  cursor: pointer;
}
.navigation__title-active::before {
  content: "";
  position: relative;
  left: -20px;
  width: 4px;
  height: 32px;
  border-radius: 0px 4px 4px 0px;
  background-color: var(--turquoise);
}

.navigation__text {
  font-family: "TT Lakes";
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
}
.futer {
  height: 220px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.futer__contacts {
  width: 196px;
  height: 124px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.contacts__conteiner {
  width: 152px;
  height: 44px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.futer__mail {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
}
.futer__phone-number {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -0.6px;
}
.futer__language {
  width: 87px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style-type: none;
}
.language__text {
  width: 24px;
  height: 24px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
}
.language__text-active {
  width: 24px;
  height: 24px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  color: var(--grey);
}
